.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 8%, #ff136f 100%);
    color: #ffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 9px 25px;
    
}